.background {
    background-color: #b1d2ff;
    background-image: radial-gradient(#fff 2.5px, transparent 0), radial-gradient(#fff 2.5px, transparent 0);
    background-position: 0 0, 18px 18px;
    background-size: 36px 36px;
}